h1{
    color: blue;
    border-bottom: 1px solid black;
}
.caixa_vermelha{
height: 300px;
width: 300px;
background-color: red;
}
.caixa_azul{
    height: 300px;
    width: 300px;
    background-color:blue; 
    
}
.caixa_amarela{
    height: 300px;
    width: 300px;
    background-color:yellow; 
}
p{

text-align-last: center;
}
